@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Welcome</p>
    <p>   Update And Maintain The Packages.</p>
</div>
<div class="row" style="padding-left:120px">

    <div class="col-md-6">
        <h2>Create Packages</h2>
        <p>
            Enter all the package details here.
        </p>
        <p><a class="btn btn-default" href="~/PACKAGEs/Create">Create Package &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Enter Hotel Details</h2>
        <p>Enter the details of Hotels here</p>
        <p><a class="btn btn-default" href="~/HOTELs/Create">Hotel Details &raquo;</a></p>
    </div>

    <!-- <div class="col-md-4">
         <h2>Web Hosting</h2>
         <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
         <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
     </div>
     -->
</div>
<br />
<br />
<div class="row" style="padding-left:120px">

    <div class="col-md-6">
        <h2>Update Package Details</h2>
        <p>
            Update the package details here.
        </p>
        <p><a class="btn btn-default" href="~/PACKAGEs/Edit">Edit Package &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Update Hotel Details</h2>
        <p>Update the details of Hotels here.</p>
        <p><a class="btn btn-default" href="~/HOTELs/Edit">Edit Hotel Details &raquo;</a></p>
    </div>
</div>
<br />
<br />
<div class="row" style="padding-left:120px">

    <div class="col-md-6">
        <h2>View Package Details</h2>
        <p>
            View the package details here.
        </p>
        <p><a class="btn btn-default" href="~/PACKAGEs/">Package Details &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>View Hotel Details</h2>
        <p>View the details of Hotels here.</p>
        <p><a class="btn btn-default" href="~/HOTELs/">Hotel Details &raquo;</a></p>
    </div>
</div>
<br />
<br />
<div class="row" style="padding-left:120px">

    <div class="col-md-6">
        <h2>View Package Bookings</h2>
        <p>
            View the packages booking details here.
        </p>
        <p><a class="btn btn-default" href="~/PACKAGE_BOOKING/Index">Package Bookings&raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>View Hotel Bookings</h2>
        <p>View the hotel bookings here.</p>
        <p><a class="btn btn-default" href="~/HOTEL_BOOKING/Index">Hotel Bookings &raquo;</a></p>
    </div>
</div>